doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='Description' content='Личный блог Типотека')
  title Типотека
  link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
body
  -
    const formatDate = (generator, dateString = ``, format = `simpleFormat`) => {
      const date = dateString ? new Date(dateString) : new Date();

      switch (format) {
        case `tagFormat`:
          return generator(date).format(`YYYY-MM-DDTHH:mm`);
        case `visualFormat`:
          return generator(date).format(`DD.MM.YYYY, HH:mm`);
        default:
          return generator(date).format(`DD.MM.YYYY`);
      }
    };

  block content
  script(src='/js/vendor.js')
  script(src='/js/main.js')


