extends layout.pug

block content
  .wrapper
    include partials/header.pug
    main
      h1.visually-hidden Регистрация пользователя
      section.modal
        .popup.popup--registration
          button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
          h2.visually-hidden Форма регистрации
          ul.popup__tabs
            li.popup__tab.popup__tab--register
              button.popup__tab-switcher.button(type='button') Регистрация
            li.popup__tab.popup__tab--log-in.popup__tab--active
              button.popup__tab-switcher.button(type='button') Войти
          .popup__form.popup__form--hidden.form.form--register
            form(action='/register' method='post' enctype="multipart/form-data" autocomplete="off")
              .form__field
                label
                  input(type='email' name="user-email" placeholder='Электронная почта' required)
              .form__field
                label
                  input(type='text' name="user-name" placeholder='Имя' required)
              .form__field
                label
                  input(type='text' name="user-surname" placeholder='Фамилия')
              .form__field
                label
                  input(type='password' name="user-password" placeholder='Пароль' required)
              .form__field
                label
                  input(type='password' name="user-password-again" placeholder='Повтор пароля' required)
              .form__image-loader
                a.form__avatar.avatar
                  img(src='img/icons/smile.svg' alt='аватар пользователя')
                label
                  input.visually-hidden(type='file' name="user-avatar")
                  | Загрузить фото профиля
              button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
              .visually-hidden
                if errorsMessages
                  ul
                    each error in errorsMessages
                      li #{error}
          .popup__form.popup__form--active.form.form--log-in
            form(action='/login' method='post' enctype="multipart/form-data" autocomplete="off")
              .form__field
                label
                  input(type='email' name="member-email" placeholder='Электронная почта' required)
              .form__field
                label
                  input(type='password' name="member-pass" placeholder='Пароль' required)
              .form__field.visually-hidden
                label
                  input(type="hidden" name="member-csrf" value=hashedValue required="")
              button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
              if errorsMessages
                ul
                  each error in errorsMessages
                    li #{error}
        .modal__overlay
    include partials/footer.pug
  script(src='js/main.js')