extends ../layout.pug

block content
  .wrapper.wrapper--nobackground
    include ../partials/header.pug
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in articles
            li.notes__list-item
                time.notes__item-time(datetime=formatDate(dayjs, article.createdAt, `tagFormat`)) #{formatDate(dayjs, article.createdAt, `visualFormat`)}
                a.notes__item-text(href='#') #{article.fullText}
                button.notes__button.button.button--close-item(onclick=`window.location.href='/my/articles/delete/${article.id}'` type='button')
                  span.visually-hidden Закрыть строку списка
    include ../partials/footer.pug